.icon {
   background-repeat: no-repeat;
   background-position: center;
   background-color: rgb(var(--light-blue-color), 0);
}

.add-slide {
   margin-left: 30px;
   background-image: url("./images/addSlide.svg");
}

.undo {
   background-image: url("./images/undo.svg");
}

.redo {
   background-image: url("./images/redo.svg");
}

.background-image {
   background-image: url("./images/backgroundImage.svg");
   background-size: 63%;
}

.background-color {
   background-image: url("./images/backgroundColor.svg");
   background-size: 70%;
}

.text {
   background-image: url("./images/text.svg");
   background-size: 70%;
}

.image {
   background-image: url("./images/image.svg");
   background-size: 70%;
}

.elipse {
   background-image: url("./images/elipse.svg");
   background-size: 72%;
}

.rectangle {
   background-image: url("./images/rectangle.svg");
   background-size: 72%;
}

.triangle {
   background-image: url("./images/triangle.svg");
   background-size: 72%;
}

.selector-active {
   display: flex;
}

.toolbar {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   border: 0px solid rgb(var(--dark-blue-color));
   border-bottom-width: 2px;
   border-top-width: 2px;
   background-color: rgb(var(--light-blue-color), 0.25);
}

.toolbar__slide-tools {
   display: flex;
   flex-wrap: nowrap;
   border: 0px solid rgb(var(--dark-blue-color));
   border-right-width: 2px;
   padding: 10px 20px 6px 0;
}

.toolbar__text-tools-inactive {
   display: none;
}

.toolbar__text-tools-active {
   display: flex;
   flex-wrap: nowrap;
   padding: 10px 0 6px 20px;
}

.increase-font-size {
   background-image: url("./images/minus.svg");
   background-size: 62%;
   border: 2px solid rgb(var(--almost-black-color), 0.7);
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}

.reduce-font-size {
   background-image: url("./images/plus.svg");
   background-size: 62%;
   border: 2px solid rgb(var(--almost-black-color), 0.7);
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   margin: 0;
}

.text-color {
   background-image: url("./images/textColor.svg");
   background-size: 100%;
}

.bold {
   background-image: url("./images/bold.svg");
   background-size: 110%;
}

.italic {
   background-image: url("./images/italic.svg");
   background-size: 110%;
}

.underlined {
   background-image: url("./images/underlined.svg");
   background-size: 110%;
}

.text-stroke-color {
   background-image: url("./images/strokeColor.svg");
   background-size: 130%;
}

.font {
   margin: 0 10px 0 0;
   border: 2px solid  rgb(var(--almost-black-color), 0.7);
   border-left-width: 0;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   background-image: url("./images/font.svg");
   background-size: 75%;
}

.text-font {
   text-align: center;
   outline: none;
   margin-left: 10px;
   width: 100%;
   max-width: 75px;
   height: 28px;
   border: 2px solid  rgb(var(--almost-black-color), 0.7);
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}

.text-font-size {
   text-align: center;
   outline: none;
   width: 100%;
   max-width: 55px;
   height: 28px;
   border: 0px solid  rgb(var(--almost-black-color), 0.7);
   border-top-width: 2px;
   border-bottom-width: 2px;
}

.toolbar__graphic-primitive-inactive {
   display: none;
}

.toolbar__graphic-primitive-active {
   display: flex;
   flex-wrap: nowrap;
   padding: 10px 0 6px 20px;
}

.graphic-primitive-color {
   background-image: url("./images/graphicPrimitiveColor.svg");
   background-size: 100%;
}

.graphic-primitive-stroke-color {
   background-image: url("./images/graphicPrimitiveStrokeColor.svg");
   background-size: 130%;
}