.button
{
    border: 1px solid transparent;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: none;
    color: #202124;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 6px;
    margin: 2px;
}

.button:hover
{
    background-color: rgba(var(--light-blue-color), .5);
}

.button:active
{
    background-color: rgb(var(--light-blue-color), .7);
}