.presentation-name
{
    flex: 1 0 100%;
    width: 100%;
}

.presentation-name-input
{
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    height: 35px;
    min-width: 240px;
    padding: 2px 17px;
    margin: 0 0 10px 10px;
    font-size: 23px;
    caret-color: transparent;
}

.presentation-name-input:focus
{
    border-color: rgb(var(--almost-black-color));
}

.presentation-name-input::placeholder
{
    text-align: center;
}

.message
{
    display: none;
    font-size: 23px; 
    margin-left: 40px; 
    color: rgb(255, 198, 10);
    text-shadow: 
        0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
}

.active
{
    display: inline-block;
}

.pop-up-inactive,
.pop-up-active
{
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(var(--black-color), 0.5);
    z-index: 9999;
}

.pop-up-active
{
    display: flex;
}

.pop-up-inactive
{
    display: none;
}

.pop-up
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(var(--black-color));
    border-radius: 20px;
    background-color: white;
    width: 750px;
    height: 600px;
    font: 400 35px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}