.presentation-name
{
    flex: 1 0 100%;
    width: 100%;
}

.presentation-name-input
{
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    height: 35px;
    min-width: 240px;
    padding: 2px 17px;
    margin: 0 0 10px 10px;
    font-size: 23px;
    caret-color: transparent;
}

.presentation-name-input:focus
{
    border-color: rgba(var(--dark-blue-color), .5);
}

.presentation-name-input::placeholder
{
    text-align: center;
}

.message
{
    display: none;
    margin-left: 30px;
    color: rgb(255, 128, 0);
    font-size: 18px;
}

.active
{
    display: inline-block;
}
