.slides-group
{
    width: 280px;
    padding: 10px 40px 0 20px;
    margin-right: 20px;
    overflow-y: auto;
}

.slide-wrapper
{
    border: 3px solid rgb(var(--silver-color));
    border-radius: 10px;
    margin-bottom: 20px;
    width: 213px;
    height: 120px;
}