.slides-group
{
    min-width: 280px;
    padding: 10px 40px 0 20px;
    margin-right: 20px;
    overflow-y: auto;
}

.slide-wrapper,
.slide-wrapper-current,
.slide-wrapper-selected
{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 219px;
    height: 125px;
}

.slide-wrapper
{
    border: 3px solid rgb(var(--silver-color), 0.7);
}

.slide-wrapper-selected
{
    border: 4px solid rgb(var(--light-blue-color));
}