.area-wrapper
{
    justify-content: center;
    align-items: center;
}

.area-wrapper:hover
{
    cursor: pointer;
}

.area-wrapper:active
{
    border-color: rgb(var(--blue-color), 0.7);
    cursor: move;
}

.area-wrapper-scale
{
    transform: scale(0.11, 0.11);
    transform-origin: 0 0;
}

.area-wrapper,
.area-wrapper-scale
{
    display: flex;
    position: absolute;
    border: 10px dashed transparent;
    caret-color: transparent;
}

.dragged
{
    opacity: 0.2;
}

.area-wrapper-selected
{
    border-color: rgb(var(--blue-color), 0.7);
    resize: both;
    overflow: hidden;
    min-width: 30px;
    min-height: 30px;
}