.area-wrapper
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px dashed rgb(var(--blue-color), 0.7);
}

.area-wrapper:hover
{
    border-color: rgb(var(--blue-color), 0.8);
    cursor: pointer;
}

.area-wrapper:active
{
    cursor: move;
}

.area-wrapper-scale
{
    display: flex;
    position: absolute;
    transform: scale(0.11, 0.11);
    transform-origin: 0 0;
    border: 5px dashed rgb(var(--blue-color), 0.7);
}

.dragged
{
    opacity: 0.5;
}

.area-wrapper-selected
{
    border-width: 5px;
}