.button
{
    margin-left: 12px;
    width: 41px;
    height: 28px;
    border: none;
}

.button:hover
{
    background-color: rgb(231, 231, 231);
}

.button:active
{
    background-color: rgba(56, 118, 252, 0.5);
}